<article class="board">
  <div class="board__illustration">

    <div class="board__img-container-to-show">
      {{#each img}}
      <div class="board__img-shown-wrapper">
        <img src="img/{{this}}" alt="" class="board__img-shown">
      </div>
      {{/each}}
    </div>

    <ul class="board__images-preview">
      {{#each img}}
      <li class="board__images-preview-item">
        <button class="board__images-preview-btn">
          <img src="img/{{this}}" alt="" class="board__images-preview-item-img">
        </button>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="board__full-description">
    <h3 class="board__title">{{title}}</h3>
    <div class="board__rating">
      {{> rating}}
    </div>
    <div class="board__nav">
      <ul class="board__nav-list">
        <li class="board__nav-item"><button class="board__nav-link board__nav-link--active">Description</button></li>
        <li class="board__nav-item"><button class="board__nav-link">Features</button></li>
        <li class="board__nav-item"><button class="board__nav-link">Dimensions</button></li>
      </ul>
    </div>
    <p class="board__description-text board__description-text--active">{{description}}</p>
    <p class="board__description-text">{{features}}</p>
    <p class="board__description-text">{{dimensions}}</p>
    <div class="board__to-buy">
      <span class="board__price">{{price}}</span>
      <button class="btn btn--rect-blue">Buy now</button>
    </div>
    <a href="#" class="btn btn--more">View all boards</a>
  </div>

</article>
