<section class="person">
  <a href="{{link}}" target="_blank" class="person__link">
    <img
      src="img/{{img1x}}"
      srcset="img/{{img2x}} 2x"
    alt="{{name}}" class="person__img">
    <h3 class="person__name">{{name}}</h3>
    <span class="person__username">{{username}}</span>
    <span class="person__location">{{location}}</span>
  </a>
</section>
